[package]
name = "minterest-primitives"
version = "0.1.0"
authors = ['Minterest <https://github.com/minterest-defi>']
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false }
sp-runtime = { version = "2.0.0", default-features = false }
serde = { version = "1.0.101", optional = true }


[features]
default = ["std"]
std = [
    "codec/std",
    "sp-runtime/std",
    "serde",
]
